[2018-07-12 18:53] mirisuzanne opened #1 "Fix Eyeglass Support"
See https://twitter.com/ilpeach/status/1017476821846298624

Still trying to determine exactly how this works, and how it will impact non-Eyeglass users…

[2018-07-12 18:54] mirisuzanne opened #2 "Need a font-parsing function for e.g. generating Herman maps"

[2018-07-12 19:18] mirisuzanne opened #3 "Accept final $do arg in all map-access functions"
[code]

[2018-07-12 19:19] mirisuzanne commented on #3
or we could accept a keyword varargs…?

[code]

[2018-07-13 16:50] mirisuzanne commented on #3
or we could accept a keyword varargs…?

[code]

[2018-07-14 06:21] #2 closed

[2018-07-17 22:14] #3 closed

[2018-07-18 23:15] #1 closed

[2018-07-18 23:17] mirisuzanne opened #7 "Support custom map-arguments for each data type access-function?"

[2018-07-18 23:35] mirisuzanne opened #8 "Better error-handling, with tests"
See how it's done in Susy and True…

[2018-07-26 18:39] mirisuzanne commented on #7
Fixed for 1.0.0

[2018-07-26 18:39] #7 closed

[2018-07-27 16:40] #8 closed

[2018-07-29 16:42] mirisuzanne opened #10 "calc() values should be unquoted"

[2018-08-03 16:37] #10 closed

[2018-08-22 19:41] joelschou opened #11 "Spelling :-)"
https://github.com/oddbird/accoutrement/blob/c7526acfc2149f0e7d5c02f04ae4b0c43cda44a4/sass/core/_ratios.scss#L117

"cinema"

[2018-08-31 16:09] joelschou opened #12 "Automatically traversing nested maps"
In your **QuickStart: Core** documentation, you have this example for internal references in nested maps:

Which is cool! However, what I can't figure out is if there's a way to access `alias` with a single command without resorting to nested `get-token()`s.
[code]

It would be really cool to be able to do something like this, whether it's a `.`, `:`, `>`, `->` or whatever:
[code]

If there _is_ a

[2018-08-31 16:35] mirisuzanne commented on #12
We don't have that feature currently, no. The nested-map support that we built is specifically to handle aliases inside adjustment-maps. I'd consider adding that feature, but I generally do this with multiple maps:

[code]

Also, if you have 'alias' based on 'root', and change 'root' at some point, 'alias' will update:

[code]

Or you could write a function that accepts a list of keys, and finds t

[2018-08-31 20:36] joelschou opened #14 "Bug in parsing nested maps"
Related to my previous issue (#12), but specifically to this line in the documentation:

There's a bug in the parsing, such that rearranging the keys in the nested map can give different results, even if those keys have no relation to each other whatsoever. You can actually see this in action using the "Prefers nested keys in nested maps" test:

**This passes:**
[code]

**Move `third` up above `se

[2018-08-31 20:53] #11 closed

[2018-08-31 20:59] mirisuzanne commented on #14
Oh, interesting. Are you willing to dig into this more – start by adding a test, and see if you can find a fix? I'm not likely to have much time in the next month, but would be happy to review/merge a PR, and publish a new release.

[2018-08-31 22:13] joelschou commented on #14
Happy to keep digging 😄

And it turns out there are two distinct bugs; unfortunately the second arises out of a potential fix for the first.

1. **This bug:**
In the `@each` which starts at [line 141](https://github.com/oddbird/accoutrement/blob/master/sass/core/_parser.scss#L141), it appears to have to do with the way `$needle` gets overridden, such that the next key being tested only has the pot

[2018-09-06 16:09] joelschou commented on #14
PR: #15

So I think I fixed this for real. The code gets a little messy, but I wanted to make sure we weren't letting map manipulation from previous values leak into later ones.

Aside: while all the Sass list functions work on maps, it's too bad they turn maps _into_ lists. I tried to use `set-nth(...)` on `$needle` itself, but I got a list in return and couldn't turn it back into a map without d

[2018-09-06 16:11] joelschou opened #17 "Enhancement to tint and shade to use contrast-light and -dark"
_Copied from PR #16_

[2018-09-08 18:26] #14 closed

[2018-09-29 20:59] mirisuzanne opened #21 "_a_origin is not documented"

[2018-10-01 19:35] joelschou commented on #17
As you noted, moved to #23

[2018-10-01 19:43] joelschou commented on #12
As you noted, moved to #22

[2018-10-01 19:48] joelschou opened #24 "Add a toggle between min- and max- media query overlap prevention"
The `_a_fix-max` breakpoint overlap avoidance is great, but would be even better with a similar `_a_fix-min` option. I added this to my fork through a global `$breakpoint-avoid-overlap: 'max'|'min';` variable, which feels a little inelegant but did the trick. I didn't PR for that very reason.

https://github.com/joelschou/accoutrement/commit/7262ab1c29457405ec757e0b0f473a7812e51bf1

[2018-10-02 13:30] joelschou commented on #24
I did it global for a couple reasons:

1. It feels like a decision between mobile-first and desktop-first, and that's one of those decisions that should probably be made once for a single project.
2. The adjustment is largely invisible to the developer—`above()`, `below()`, and `between()` just make it happen automagically. Allowing per-query overrides is a little bit like seeing how the sausage i

[2018-10-06 18:10] mirisuzanne commented on #21
Fixed by #27def1c

[2018-10-06 18:10] #21 closed

[2018-12-05 15:51] #12 closed

[2018-12-05 15:51] #17 closed

[2018-12-05 15:51] #24 closed

[2018-12-19 19:13] mirisuzanne opened #28 "With color variables & themes, I want to use a subset of the `$source` map"

[2018-12-19 19:13] mirisuzanne opened #29 "All color functions should accept a `$source` argument"

[2019-01-03 17:05] joelschou opened #31 "Under very specific conditions, long-hand adjustment maps produce incorrect results"
Hi! I've encountered something very odd and very specific. I have a large map and am using the long-hand syntax for functional adjustments -- in this case, to colors. For whatever reason, the adjustments are being applied in the wrong order to to a few items in the map. I wasn't able to reproduce the issue inside the test suite for Accoutrement, but I did create a small standalone test that's cons

[2019-01-03 18:43] mirisuzanne commented on #31
good catch! want to submit a PR patch?

[2019-01-03 18:44] joelschou commented on #31
By sheer coincidence, you noticed the opposite problem years ago:
https://github.com/sass/libsass/issues/556

[2019-01-03 18:44] joelschou commented on #31
(Also by sheer coincidence, I found that issue as you were commenting here)

[2019-01-03 18:47] mirisuzanne commented on #31
ha, that's funny. Maps are ordered in Sass, I wonder why comparisons aren't. Though, as I say in that thread: there are many unordered use-cases. Even most accoutrement use-cases are order-agnostic.

[2019-01-04 19:30] #31 closed

[2019-06-12 01:25] mirisuzanne opened #35 "_a_valid-contrast() fails with non-global colors"

[2019-08-20 13:46] jcamilleri13 opened #36 "Issues with latest versions of dart-sass"
I've recently switched to dart-sass for my build pipelines ([https://www.npmjs.com/package/sass](https://www.npmjs.com/package/sass)), however I seem to have hit some problems with Accoutrement's method of converting maps to strings, i.e. using the 'quote' function.

The first instance where this breaks is in _parser.scss, at [line 268](https://github.com/oddbird/accoutrement/blob/a74d177427fdb880

[2019-08-20 13:58] mirisuzanne commented on #36
That sounds fine, do you want to submit a patch?

I'm also curious what the error is. Does `quote()` now require a string in order to work?

[2019-08-21 08:06] jcamilleri13 commented on #36
Yep, the compiler throws a "$string: (...map) is not a string" error.
I'll test with sass and node-sass and submit a PR soon 👍

[2019-08-22 14:19] jcamilleri13 opened #38 "Maps cannot store 'false' values"
I'm not sure if this is by design, but storing a value of `false` (boolean) at any point in a map causes the get-token function to enter an infinite loop. The culprit is [this line](https://github.com/oddbird/accoutrement/blob/a74d177427fdb8805a5cade30b7acadd40f378f4/sass/core/_api.scss#L295) – since the correct result returned from the map-get() is false, the statement short-circuits and the key

[2019-08-22 14:27] mirisuzanne commented on #38
Sure, if you submit a PR we can test it on some lager projects and make sure it's not a breaking change.

[2019-08-22 15:46] jcamilleri13 commented on #38
Created PR #39 :)

[2019-08-23 18:55] jgerigmeyer commented on #38
Closed in #37.

[2019-08-23 18:55] #38 closed

[2019-08-23 18:55] jgerigmeyer commented on #36
Closed in #37.

[2019-08-23 18:55] #36 closed

[2019-08-26 12:48] jcamilleri13 commented on #38
Sorry to be a nuisance, but will you be pushing a new release any time soon please?

[2019-08-26 21:39] jcamilleri13 commented on #38
Awesome, thanks!

[2019-09-09 10:23] jcamilleri13 opened #41 "Performance issues and "silent" failures"
Hi, me again.

I've almost finished fully migrating our internal style framework to Accoutrement, but have bumped into some performance issues as I add more keys to the map. I've identified a few bottlenecks in the `_a_replace()` function, mostly when dealing with large maps. My current map is extremely large (over 2000 keys), which is probably not something that Accoutrement was ever built to cat

[2019-09-09 21:49] mirisuzanne commented on #41
Hi @jcamilleri13 - thanks for digging into this!

I think we fail silently so as not to break every single instance of `#` inside existing maps. I'm open to other ways of solving that - because otherwise I totally agree.

I'd love to see a PR of these performance improvements!

[2019-09-09 22:08] jcamilleri13 commented on #41
The way I handled it to keep the existing unit tests from breaking was by adding an internal configuration flag that would default strict mode to false. If you flip it to true it will throw an error if the key isn't found, otherwise it'll default to the previous behaviour, so it can be used on new projects without being a breaking change.

I'll double check all the other unit tests are passing wit

[2019-09-10 18:09] mirisuzanne opened #43 "Support Sass module syntax"
See:
- https://github.com/sass/sass/blob/master/accepted/module-system.md
- http://modules.sass-lang.com/
- npm `sass@1.23.0-module.beta.1`

This will be a breaking change, and require a major release.

[2019-09-11 20:50] jcamilleri13 opened #44 "Key injection functionality"
I'm not sure if this makes sense, or if it's something that can already be done with existing functionality, but I thought of this use case for the internal framework I'm currently constructing and thought I'd follow up on it.

The use case is as follows: I have a sub-map used to house a few properties for components, e.g. buttons. The interface has a default button, and primary/secondary/success/

[2019-09-23 22:11] mirisuzanne commented on #44
This is interesting, but is it a big improvement over handling the injection yourself?

[code]

I'm not sure that the extra syntax adds much to that existing solution?

[2019-09-24 14:40] jcamilleri13 commented on #44
Well, no, this is definitely a doable solution for my use case I suppose. It's more the fact that you'd need to re-flatten the map every time you inject, which would be a bit of a performance drag which concerned me most I suppose. That being said, I can also see your point that the performance hit might not be worth the API addition.

[2019-09-24 17:05] mirisuzanne commented on #44
Hm, I get that - but wonder: if map flattening is such a big performance hit, do we need a more generic way to mitigate that? We could… expose a way to explicitly flatten your maps up-front, so the parser never needs to? You could then merge flattened maps without any need to re-flatten?

[2019-09-24 17:43] jcamilleri13 commented on #44
We could look into just doing a recursive deep-search rather than flattening, I'm not sure what the performance trade-off would be though. A `map-get` operation should be O(1), so I'm not sure at what point the time it takes to flatten a map provides a tangible performance benefit over the time it takes to simply carry out a chain of successive `map-get`s. I could run some benchmarks. We'd still n

[2019-09-25 17:17] mirisuzanne commented on #44
Yeah, we initially used a recursive lookup rather than flattening, and found some performance benefit: https://github.com/oddbird/accoutrement/pull/25 - but I'd be happy to revisit that with more precise benchmarks.

[2020-01-05 02:49] johncrim opened #46 "register-function fails when using sass modules (@use)"
Most of the accoutrement functionality has worked well for me using sass modules, though I realize [it's not sass module native](#43). However, `register-function` does not work with sass modules (unless I'm missing something).

This code:
[code]

Fails with error:
[code]

A version of the same code rewritten to use `@import` works as expected:
[code]

In case anyone wants a workaround, the follow

[2020-01-05 03:00] johncrim commented on #46
Gist for this: https://gist.github.com/johncrim/64e2ac1a781219ae38843588e9edaa7d

[2020-01-05 19:18] mirisuzanne commented on #46
I think this should work if you pass the captured function rather than the string function-name:

[code]

The goal of `register-function()` is not to handle function-capturing for you – that's something that will have to happen in local scope with Sass modules – but to register that captured function with Accoutrement, and make it available to map processing under any alias you want.

It was desig

[2020-01-05 20:40] mirisuzanne commented on #46
On closer inspection, there does seem to be a bug a bit later in the process. Checking if `function-exists` will always fail…

[2020-01-06 17:28] mirisuzanne commented on #46
@johncrim Try `accoutrement@2.1.3-beta.1` with a locally-captured function and see if that solves the problem for you?

[2020-01-06 19:52] johncrim commented on #46
I had tried manually capturing the function (and it didn't work, with the same error).

Will try the new version...

[2020-01-06 20:09] johncrim commented on #46
I've added `accoutrement@2.1.3-beta.1` and am still seeing an error, using manual function capture:

Changing to:
[code]

Results in this error:
[code]

It looks like it's trying to re-capture the function by string name.

Thank you for looking into this, and for making this very useful project open-source.

[2020-01-06 21:05] #46 closed

[2020-01-06 21:08] mirisuzanne commented on #46
I'll just cut that line: it's actually trying to extract the function name from the first-class function you passed in. It's a bit of a hack, and I knew it was a long-shot. Just means you'll need to provide both the function and a name:

[code]

This should be fixed and released in `2.1.3` now. Thanks for helping debug!

[2020-01-07 18:57] johncrim commented on #46
Confirming that this works - thank you!

Also, the new error message is nice when the dev forgets to include the function name:

[code]

[2020-02-06 02:05] johncrim opened #48 "a.has-token() function"
In addition to the [existing token inspection functions](https://www.oddbird.net/accoutrement/docs/core-inspect.html), please consider adding a function for determining if a token is defined.

We're using SASS modules for our code, so all the members prefixed with `_` (or `-`) are not accessible.

Here's an example that I think justifies this request. Starting with this example map:

[code]

I wan

[2020-02-06 15:43] johncrim commented on #48
Another related option would be to return `null` when the token doesn't exist. I'd prefer that if possible, but I assume that isn't possible at this point, b/c code that depends on accoutrement probably uses the knowledge that the key path is returned when it doesn't exist.

[2020-02-08 23:51] johncrim opened #49 "Missing submap key results in spurious error"
Fetching an existing key path works. Fetching a missing key path results in a weird error.

[code]

[code]

This is relatively severe, because I can't use `get-token` to check whether the value `'scrollbar->background'` exists - `get-token` results in the same error.

[2020-02-10 17:54] mirisuzanne commented on #49
Right, the current behavior follows the path as far as possible, and returns the last available value (in this case just `scrollbar` rather than the requested `scrollbar->background`). That was done make it possible to have non-key `#` and `->` values – but may be more problematic than it was worth.

I think #48 is already a proposed solution to this? Other solutions might be:

- missing tokens th

[2020-02-10 22:20] johncrim commented on #49
Thank you for the reply @mirisuzanne .

Certainly a solution for #48 would allow me to work around this - though I also think returning `null` would be ideal. I'd love to see `has-token` in a minor version, and returning `null` for missing keys in the next major version :)

Right now it's really hard to determine if a submap is missing, especially due to this error. Even checking for a value resul

[2020-02-11 06:14] mirisuzanne commented on #49
I think you're right about the proper next steps. Happy to review a PR's, or I'll try to get to it when I can. In the meantime, I think you might be able to use `meta.type-of()` or (less reliable) `meta.inspect()` to do a check without throwing this error?

Basically, you'd want to catch any instance where the returned value still has a type of 'map' – which is (I think) the one Sass type that is

[2020-02-11 17:42] johncrim commented on #49
ok - I will try to create a fix and submit a PR with tests.

[2020-02-21 21:32] johncrim opened #50 "Add support for deep-merging token maps"
Currently the accoutrement add-* mixins implement shallow-merging, which means that non-root values must be repeated. For example:

[code]

Results in :
[code]

The error is related to #49 (which I'll still try to provide a PR for), but the root issue here is that deep-merging of maps isn't implemented. In other words the values that I'd like to inherit from default maps need to be repeated.

I ha

[2020-02-24 16:44] mirisuzanne commented on #50
Yeah, this is a great idea.

(Also reminds me we should move to the new syntax soon… I'll open a story for that)

[2020-02-24 22:44] johncrim commented on #50
Thanks @mirisuzanne. To clarify which parts you like:
* Do you think it's important that the current shallow merge behavior continue to be the default?
* Do you like the idea of a default behavior map (for this and returning null)?

[2020-02-25 22:48] mirisuzanne commented on #50
- We used to provide advanced map functions in the public API, and it might be good to bring some of them back. There's an [existing syntax proposal for Sass core](https://github.com/sass/sass/issues/1739) that we could use as a basis (or make a PR against Sass, if you write Dart…).
- Yes: moving to deep-merge default is a good idea, but will require some deprecation, major release, etc… Could do

[2020-03-24 20:36] mirisuzanne commented on #50
I submitted a formal proposal to sass/sass#2836 - tho the current syntax discussed doesn't do a full deep-merge. I'll push on that a bit. I expect performance will be much better if it happens in the compiler.

[2020-04-13 20:14] sunil-jhamnani opened #51 "A function has already been registered under the name `remove-nth`""
I am not sure if I have messed up something or its an actual issue. The complete stack trace on my terminal is this

[code]

**Brief on this**
I am importing accoutrement in one of my module with the same name(name is in test phase, will change it once developed). The import statement looks like this
`@import '../node_modules/accoutrement/sass/tools';`

I don't understand why the function **remove

[2020-04-13 22:22] mirisuzanne commented on #51
Interesting, I haven't run into that before, and would have to do some more testing. Are you using Dart Sass modules? If so, have you tried `@use` in place of `@import`?

The `@use` syntax ensures that Accoutrement will only be processed once per compilation. Using `@import`, it's possible that Accoutrement is being processed twice?

[2020-05-03 08:44] sunil-jhamnani commented on #51
Yes I am using Dart Sass modules.
Also I tried using `@use` like this `@use '../node_modules/accoutrement/sass/index';` but its not working. Giving me undefined for mixins and functions. Eg:
[code]

[2020-05-03 11:58] sunil-jhamnani commented on #51
@mirisuzanne
So the issue is fixed. The index file was getting imported more then once and that was the reason for that error.
Still i was thinking if I can use `@use` to use the `index.scss` file so that by any chance this error doesn't show up again.

[2020-05-06 15:07] mirisuzanne opened #52 "Provide `add-functions($map)` mixin for function registration"
We have `register-function()` to add one function at a time, but it would be great to support registration of entire function-registration maps, like we do for colors, sizes, fonts, etc.

[2020-05-09 23:41] mirisuzanne commented on #51
You should be able to use the index, though generally I would do that implicitly. If  you `@use` a directory, it will automatically get the index file:

[code]

You could also be having namespace issues. Modules are loaded into a namespace based on the last fragment of the path name (`index` or `sass`) unless you override it explicitly. So:

[code]

or:

[code]

[2020-06-09 12:44] jcamilleri13 commented on #48
Hey @johncrim I actually have an open pull request with the "return null" scenario in place (#41). I'm just wrapping up some unit tests and will finalise all the code, so this might help you out. Sorry it's taken so long, work got extremely out of hand and open source contributions needed to take a backseat.

[2020-06-09 16:04] johncrim commented on #48
@jcamilleri13 : Thank you, that's great! I'm a fan of returning null when keys are missing (and in general of failing fast), thank you for your work on that.

Could you take a look at #49, too? I'm curious if your fix will also address that.

[2020-06-09 17:06] jcamilleri13 commented on #49
Hey @johncrim, I do believe that #41 will fix this. I frequently encountered this issue on one of my projects, which is what prompted me to correct the 'silent failure' aspect in the first place. The solution I have in mind will involve a toggle to change the behaviour between returning null, throwing a warning and returning a null, or flat-out throwing an error. Would this solve your use case? I'

[2020-06-09 17:23] johncrim commented on #49
Thanks @jcamilleri13 - returning `null` should do the trick here, at least it makes the problem fixable/preventable using `get-token()`.

The test-case at the beginning of this issue might be a good test-case - IMO it's a simple mistake that should be easy to detect and fix, but isn't currently.

[2020-06-10 11:48] jcamilleri13 commented on #49
I've run a quick test with the updated version of the library. It seems to handle your problem. Test cases, in a nutshell:

## No change in configuration ##
[code]
[code]

## 'null' mode ##
[code]

[code]

## 'warn' mode ##
[code]

[code]

## 'error' mode ##
[code]

[code]

[2020-06-22 20:26] stacyk opened #53 "Use html instead of root for scss/css examples"
For instance, https://github.com/oddbird/accoutrement/blob/5b674faa4d68db2413c282267ffd51ce69032ce5/sass/_core.scss#L131 we are using `:root` as a default place to declare our custom properties. I learned this trick from a super smart person during a virtual conference I attended last month.

[2020-06-29 16:25] jgerigmeyer opened #54 "Broken link in documentation"
`core-api.html` should be `core-get.html`: https://github.com/oddbird/accoutrement/blob/5b674faa4d68db2413c282267ffd51ce69032ce5/sass/_core.scss#L73

[2020-06-30 19:07] #54 closed

[2020-09-08 17:04] jcamilleri13 commented on #41
Corrected by #42. :)

[2020-09-08 17:04] #41 closed

[2020-09-08 17:08] jcamilleri13 commented on #49
@johncrim the discussed changes have been merged, this should solve your issues in the next release.

[2021-01-11 21:23] #49 closed

[2021-02-13 00:20] johncrim opened #59 "get-token returns key string when $handle-missing-keys = 'null'"
Given the following 2 tests, the first test fails, and the second test passes:

[code]

It appears that the code path is different for root keys vs nested keys. Since I have a test, I'll attempt to provide a fix.

[2021-02-13 01:01] johncrim commented on #49
I'm still seeing this issue, in dart-sass only. I've added the following test:

[code]

which passes when using node-sass, but fails using dart-sass:
[code]

I'm thinking it would be good to add support for running dart-sass tests alongside node-sass tests (and I've already added that locally for this repro). I'm happy to work on a fix for this...

[2021-02-13 01:34] mirisuzanne commented on #49
@johncrim That looks like a different issue, with a similar error message. In this case `("zab": 4)` is _the correct requested value_ being returned by Accoutrement, but either Dart Sass or True is refusing to compare the maps. In the original issue, the map was being returned by accident, and that's the issue we fixed.

I can look into it more, but you should get the same error even if you take A

[2021-02-13 04:11] johncrim commented on #49
Hi @mirisuzanne - thank you for the prompt reply. The issue here is that the value is never returned from accoutrement due to the error. Dart-sass is stricter than node-sass about stringizing maps, so it's failing at the specified line. It looks like the value is stringized before it gets to the `@return null` part.

I know this isn't an issue in True b/c I'm seeing the same issue in my site build

[2021-02-13 18:01] mirisuzanne commented on #49
@johncrim I see what your saying about the error coming from Accoutrement. But I'm still confused about how you got to this error, based on the ofo/zab test case you posted. I can't reproduce it with that code in Dart Sass. The failing line is inside our internal `str-replace` function - which is not called by the test.

I can still see the error with your original code, until I add the configurat

[2021-02-13 18:41] johncrim commented on #49
@mirisuzanne - I'm seeing the same, i.e. this error occurs in dart-sass only, and only when `$handle-missing-keys` is `silent`. When `$handle-missing-keys` is set to one of the new values, it no longer happens; and it also doesn't happen regardless of the `$handle-missing-keys` value on node-sass.

My statement above "It looks like the value is stringized before it gets to the `@return null` part"

[2021-02-13 22:57] johncrim commented on #59
I dug into this in hopes of providing a fix, and to be frank it looks like a proper fix requires a significant refactor. Right now all the `$handle-missing-keys` logic is in `_a_replace`, and that code path isn't touched when the first key in the path is missing altogether.

The code is pretty difficult to follow and reason about due to conflated responsibilities - eg `_a_replace` does a lot more

[2021-02-14 00:04] jcamilleri13 commented on #49
Hi @johncrim @mirisuzanne

Sorry for being so late to the party. I do believe I have encountered this error at some point myself:

When I bumped into it, the issue was with the interpolation of the $new value, i.e. `#{$new}`. Replacing it with `inspect($new)` had corrected it I believe - there was a similar issue we had solved in the same manner, #36 I believe. I may be parking up the wrong tree,

[2021-02-14 21:42] johncrim commented on #49
Thank you @jcamilleri13  - that's very helpful. Yes, it's a similar issue, eg dart-sass will error instead of interpolating a map.

I suppose the question is: What is the correct behavior? If a map should be interpolated into the string, then `inspect` is the right fix. If it should not be interpolated, and the reference left in the string instead, then I think I have a good fix. In the PR, I modi

[2021-02-14 22:15] jcamilleri13 commented on #49
Hey @johncrim,

I'm also of the opinion that the map interpolation behaviour is a bit weird. but @mirisuzanne had made the call to leave it as is so we don't break backwards compatibility, which is also an understandable position. That was why we had decided to put the alternate behaviours behind a configuration switch. I have no issue with updating the behaviour personally, but perhaps it would b

[2021-02-15 23:57] mirisuzanne commented on #49
@johncrim Your solution absolutely makes the most sense here. Sorry I was struggling to follow along with your concerns.

- We can't really rely on `inspect()` for user-facing output, because it is explicitly intended for debugging, with no promise about the format it returns. The other place we use it is just to create the memo lookup table internally, which feels safer.
- This is the better defa

[2021-02-17 03:26] johncrim commented on #49
@mirisuzanne and @jcamilleri13 - here's a case that fails with the new `$handle-missing-keys` setting when using `get-token()` to get a submap - I thought I'd seen this, but then had some difficulty reproducing it, so then I concluded it was old age forgetfulness. Anyhow, while trying to get precise in the changelog I was able to come up with a concise repro:

[code]

then:

[code]

I have a unit

[2021-02-17 04:57] johncrim opened #61 "bug: get-token() errors when getting 2nd+ level submap, and null mode enabled"
Using dart-sass, this fails:

[code]

then:

[code]

This is a very similar bug in cause to the one I fixed [in PR 60](/oddbird/accoutrement/pull/60/), in that both are caused by weak contracts (variable named `$string` can be a map, and isn't documented as such) and by map interpolation erroring in dart-sass. However, the behavior is different, so I filed a separate bug. It also was probably adde

[2021-02-17 05:02] johncrim commented on #49
The bug has a nearly identical cause, but is behaviorally different, so I opened a new issue: #61

[2021-02-18 17:48] johncrim commented on #59
This probably isn't worth fixing until the migration to use sass's nested maps functions. At that point I would expect a refactor that separates parsing from resolution, so it would be easy to handle missing values in a single location: within get-token() (and not within the parsing functions).

[2021-02-22 22:22] #61 closed

[2021-02-22 22:39] mirisuzanne commented on #50
This has been implemented in Dart Sass. We should put that to use in a future release built on the latest Sass updates, but I think this issue can be closed.

[2021-02-22 22:48] mirisuzanne commented on #52
I'm not sure how much sense this makes in the new module system. And I think the workarounds are straight-forward, so this isn't urgent.

[2021-02-22 22:49] #51 closed

[2021-02-22 23:03] mirisuzanne commented on #35
Wish I had documented this better, because I can't track it down now… 🤦🏻‍♀️

[2021-02-22 23:03] #35 closed

[2021-02-22 23:24] #53 closed

[2021-02-23 00:34] mirisuzanne commented on #59
@johncrim Thanks for tracking that down. Are you interested in helping with that sass modules refactor? I opened a branch a while back, but never had the time to get very far.

[2021-02-23 00:38] mirisuzanne commented on #61
Released: https://github.com/oddbird/accoutrement/releases/tag/v3.0.0

Thanks again!

[2021-02-23 00:39] mirisuzanne commented on #49
Released: https://github.com/oddbird/accoutrement/releases/tag/v3.0.0

Thanks again!

[2021-02-23 17:02] johncrim commented on #59
Hi @mirisuzanne - yes, I'm interested in helping. I'm working nights and weekend on my startup, so time may be an issue, but I do think I can provide significant help here.

[2021-02-23 21:17] jgerigmeyer opened #69 "Travis build is failing"
Travis is still running against node v8, but support was dropped in https://github.com/oddbird/accoutrement/releases/tag/v3.0.0

[2021-02-23 21:58] mirisuzanne commented on #69
Interesting, why did my PRs all show passing tests?

[2021-02-23 22:37] jgerigmeyer commented on #69
We didn't have Travis setup as a GH app, so it wasn't reporting here. Fixed now.

[2021-02-24 23:37] #69 closed

[2021-06-02 14:54] jgerigmeyer opened #73 "Replace slash division with math.div()"
https://sass-lang.com/documentation/breaking-changes/slash-div

[code]

[2021-06-08 20:32] jgerigmeyer commented on #73
@mirisuzanne Is this something you're able to look at? Or @stacyk or @dvdherron?

[2021-06-08 21:12] mirisuzanne commented on #73
We should be able to run a [migrator](https://sass-lang.com/documentation/cli/migrator) to handle most of it. I don't see the division migrator it documented there, but I think it's just called `division`. @dvdherron is this something you'd want to look at? (might also be needed on some of our other tools like cascading-colors)

[2021-06-09 13:17] dvdherron commented on #73
Yes, I can give this a look @mirisuzanne. Should be able to fit this in this week.

[2021-06-09 17:21] dvdherron commented on #73
![](https://github.trello.services/images/mini-trello-icon.png) [Replace slash division with math.div()](https://trello.com/c/7tuFeKMy/39-replace-slash-division-with-mathdiv)

[2021-06-10 13:51] dvdherron commented on #73
@mirisuzanne @jgerigmeyer

Ran the migration to replace slash division with the math.div function.

Bumped sass to 1.33 to get the function to work.

Still need to go through some of the test errors. I think some of the functions will need to be reworked to get math.div to work properly, e.g:
[code]

`Error: Invalid CSS after "...ist, ceil((math": expected expression (e.g. 1px, bold), was ".div(le

[2021-07-13 18:26] mirisuzanne commented on #43
I've run into some issues with this upgrade, and wanted to document my thoughts for how to handle this.

The parser currently has a some strange recursive dependencies. Both `$functions` & `$ratios` maps are used by the parser, while also needing to be parsed themselves. On one hand, we could probably break that loop by making "adjustments" unavailable in those two maps. On the other hand… I wonde

[2021-07-14 19:25] mirisuzanne commented on #43
At this point the OddBird team is planning to move towards the Sass modules "best of both worlds" approach, and write up the migration path for that. That might call for some new map helpers (a `filter()` function?), but would allow us to remove the old map syntax & parser, dramatically simplifying the tool. This would be a major change, but we think it's better to help move people into native Sas

[2021-07-14 20:16] jcamilleri13 commented on #43
Thanks for the shoutout! At this point, given the advancements in the core Sass libraries, accoutrement would benefit from a slightly leaner approach to the map handling, where the bulk of that work could be offloaded to the core map functions. Now that there's finally support for nested maps on the horizon - hooray - the core accoutrement library can benefit from the speed of the internal functio

[2021-07-14 22:52] mirisuzanne commented on #43
@jcamilleri13 The proposal would be to remove (or at least dramatically simplify) how that internal map reference works. The proposal is to replace something like:

[code]

With an approach based in native Sass modules, which allow you to treat an entire file of variables…

[code]

As _either/botth_ a set of individual variables, or as a map:

[code]

You can already merge several maps together, w

[2021-07-16 17:27] mirisuzanne commented on #44
Closing this as map-flattening shouldn't be needed in the Sass modules update. If we keep the parser, it will use Sass nested map functions.

[2021-07-16 17:27] #44 closed

[2021-07-16 17:29] #52 closed

[2021-07-16 17:36] mirisuzanne commented on #59
I think the primary reason this happens is that we currently allow the `$key` argument to accept _either_ a token key, or a token to parse for internal aliases & adjustments. Since we allow both, it's impossible to know if the key is "missing" or if it wasn't intended as a key in the first place.

I think, moving forward (if we keep the parser at all), those should be distinct functions.

- `token

[2021-07-16 17:51] jcamilleri13 commented on #43
Looks like a great solution. Large maps tended to get unwieldy, I generally split it into separate files and then import them all into one big map to help organise it better. Sounds great 🥳

[2021-07-16 21:43] mirisuzanne commented on #59
fixed (and possibly to-be-removed) in the modules upgrade.

[2021-07-16 21:43] #59 closed

[2021-07-16 21:45] mirisuzanne commented on #73
Fixed in 2651ab3

[2021-07-16 21:45] #73 closed

[2021-07-16 21:46] mirisuzanne commented on #28
Closing this out as unnecessary in the new sass modules syntax

[2021-07-16 21:46] #28 closed

[2021-07-16 21:46] mirisuzanne commented on #29
Closing this out as unnecessary in the new sass modules syntax

[2021-07-16 21:46] #29 closed

[2021-07-22 15:16] dvdherron commented on #43
My thoughts after going through and taking an inventory of the things I use or find useful.

Core:
I think a lot of this will end up being split off into their own modules?
- Keep: CSS Variables, Ratios & Modular Scales

I can't say I've used so much of the Core/Utilities, but I think these were mostly used in the parser? I think they could mostly be split off into separate modules if we keep them

[2021-07-24 20:40] johncrim commented on #43
Thank you very much for looping me in. I particularly appreciate that you're considering community feedback even though this project was originally written for your consulting practice.

I've had to give this proposal some thought before responding:

I understand and agree that the parser has weird recursive dependencies - I've commented on that before, and I think parsing would benefit from a rew

[2021-07-25 17:45] mirisuzanne commented on #43
Thanks @johncrim - that's a useful rundown of how you use this. I did some work re-writing the parser last week (in PR #76, which is still a bit of a mess). It resolves some of the recursive dependencies by:

- not supporting the special map-parsing syntax inside the `$functions` map
- not supporting ratios as "first-class" akin to functions in the syntax
- I also removed the "silent" option for `

[2021-08-02 16:43] stacyk commented on #43
Here are my initial thoughts.

## Keep
**Layout**
* Media queries (above, below, between)
* Z-index
* Position (sometimes, only when I remember)
* Pseudos Before/After mixins are great

**Scale**
* Unit conversion

**Type**
* is-hidden

**Animate**
- Everything in here is useful if I remember to use it.
- I had no idea that we had a built in set of easing functions. I'd love to add a demo to show

[2021-08-23 18:22] patriciarealini commented on #43
### Suggestions for Modules to Remove

8/23 Meeting Notes

Init
- Remove, in favor of using Remedy

Layout
- global-box-sizing
- clear-fix
- fluid-ratio

Keep everything else

[2021-10-08 20:42] mirisuzanne opened #88 "Is gulp still necessary?"
Can we remove it?

[2021-12-03 23:20] mirisuzanne commented on #43
We just released [v4.0.0-beta.2](https://github.com/oddbird/accoutrement/releases/tag/v4.0.0-beta.2), and published that on npm with the `pre` tag. I'd love to have some other folks testing this in real projects before we do the final release. Release notes / changelog should cover major changes. You can also pull and load the docs from source, I'll try and get that deploy preview working as well.

[2021-12-31 20:00] johncrim commented on #50
Hi @mirisuzanne  - I'm in the process of migrating our codebase to the accoutrement 4.0.0 beta2, and I'm very happy with the changes/improvements so far  - very nice work! Thank you!! I particularly like the `null` default for missing tokens, and in general while there are a number of breaking changes, I think this puts the project on great footing for new projects and new users adopting it.

I no

[2022-01-01 20:57] johncrim opened #99 "tokens.get() returns null for some present values (4.0.0-beta2)"
I'm in the process of updating our codebase to use the new accoutrement (version 4.0.0-beta2), and I found an odd error that occurs in some situations. In short, `tokens.get()` returns `null` sometimes, when there is a value in the map. I haven't been able to figure out the cause yet, but I've narrowed it down to 2 very similar cases, one of which works as expected, and one of which doesn't.

Here

[2022-01-03 00:13] johncrim commented on #99
The bug is in `_parse.scss : _resolve-value()` function. If the map value contains a color string of format `#rrggbb` it tries to resolve it as an alias, and fails, so returns `null` for the whole value. I have a few tests proving this, and I'm working on a fix.

This is a regression - the issue wasn't present in v3. My opinion so far is that the previous missing key behavior (of just returning th

[2022-01-03 16:43] mirisuzanne commented on #50
Thanks for catching this, and submitting a patch! I'll take a look as soon as I can.

[2022-01-03 18:54] mirisuzanne commented on #50
merged the PR, thanks!

[2022-01-03 18:54] #50 closed

[2022-01-11 20:03] johncrim opened #102 "New 4.0.0 beta ?"
Hi:

When possible, could you please release a new 4.0.0 beta of Accoutrement? We'd like to switch to it - I'm pretty sure the kinks are worked out with the recent PRs, and if not I'd like to help uncover them.

Thank you!

[2022-01-18 17:27] johncrim commented on #102
Hi @mirisuzanne and @jgerigmeyer - I'm positive you're both extremely busy, just pinging you in hopes that building a new beta is easy.

[2022-01-18 19:16] #99 closed

[2022-01-18 19:16] #88 closed

[2022-01-18 19:17] #48 closed

[2022-01-18 19:29] mirisuzanne commented on #102
@johncrim beta-4 should be available now, at the npm pre tag. Let us know if you have any other issues!

[2022-01-18 19:29] #102 closed

[2022-02-22 00:36] johncrim commented on #43
We've been using [v4.0.0-beta3](https://github.com/oddbird/accoutrement/tree/v4.0.0-beta.3) for about a month, and it's been working great for us. I'm happy with the updated design, and it's noticeably faster. It's also great that a few bugs that I'd had to live with for a while are gone; in particular that `null` is now returned when a token is missing.

I diffed all our CSS output before and aft

[2022-02-22 18:13] mirisuzanne commented on #43
Glad to hear it! Lots of credit to @dvdherron and @stacyk for migrating most of the modules, and updating all the docs -- I think we're almost ready to ship!

[2022-02-24 23:19] jgerigmeyer commented on #43
Closed by #94

[2022-02-24 23:19] #43 closed

[2022-05-28 10:39] enten opened #112 "bug: `tokens.get()` memorization"
## Description

**It seems that [`tokens.get()`](https://github.com/oddbird/accoutrement/blob/v4.0.1/sass/tokens/_api.scss#L273) memorization isn't working:**

1. Firstly, the `!global` flag is missing when update the `$_memo` map ;
2. Secondly, even with `!global` flag when update the `$_memo` map, the memorization won't work as expected when on-the-fly adjustments are given with `$do` parameter,

[2022-07-18 18:10] #112 closed

[2022-07-19 09:38] justin-duncan opened #117 "Issue with inline functional adjustments."
With the introduction of Accoutrement 4, it seems that functional adjustments per value are no longer possible.
An example of this is when we have a css property that can handle more than one property (i.e. border/padding/margin), we would have had something like this in the map:
`'margin': 1em (1em ('add': 'space->md')) (1em ('add': 'space->sm')) 0`

This would have worked in the past, but with A